Flask==0.10.1
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.9
-e git+https://github.com/raony/dicerollpkg.git@2c1300191ced3c34e80a838766557214bc1792f1#egg=diceroll-master
funcsigs==1.0.2
future==0.15.2
gunicorn==19.5.0
itsdangerous==0.24
mock==2.0.0
nose==1.3.7
pbr==1.9.1
python-telegram-bot==4.1
redis==2.10.5
six==1.10.0
wsgiref==0.1.2
